<%- include("header") -%>

    <div class="logout">
        <button class="logout-button">
            <a href="/logout"><img src="./img/exit.png"
                    alt="external-off-digital-design-outline-set-2-outline-stroke-bomsymbols-" /></a>
        </button>
    </div>

    <div class="box" id="heading">
        <h1>
            <%= listTitle %>
        </h1>
    </div>

    <div class="box">
        <% listArray.forEach((item)=>{ %>
            <form action="/delete" method="post">
                <div class="item">
                    <input type="checkbox" name="checkboxID" value="<%= item._id %>" onchange="this.form.submit()" />
                    <p>
                        <%= item.name %>
                    </p>
                </div>
            </form>
            <% }); %>



                <form class="item" action="/todo" method="post">
                    <input type="text" name="newItem" id="newItemInput" placeholder="New Item" autocomplete="off" />
                    <button type="submit" name="listbutton" value="<%= listTitle %>">+</button>
                </form>
    </div>

    <%- include("footer") -%>